@using MvcCore.Models
@model List<CategoryTask>

		<div class="container text-center m-5" >
			   <a class="btn btn-primary m-3" asp-controller="CategoryTask" asp-action="New">
					Add Ctegory
			
			</a>
			</div>
		<div class="container bg-success">
		<div class="row  mt-5 p-5 ">
			<div class="col">Name</div>
			<div class="col">Detail</div>
			<div class="col">Edite</div>
			<div class="col">Delete</div>
 	</div>
	</div>
	<div class="container bg-info">
	@if(Model.Any())
	{
		@foreach (var item in Model)
		{
			
				<div class="row mt-5 p-5">
					<div class="col">
						@item.category_Name 
					</div>
				
					<div class="col">
											<a class="btn btn-outline-secondary" asp-controller="CategoryTask" asp-action="Details" asp-route-id="@item.Id">
						Details
					</a>
					</div>
					<div class="col">
											<a class="btn btn-secondary" asp-controller="CategoryTask" asp-action="Edite" asp-route-id="@item.Id">
						Edite
					</a>
					</div>
					<div class="col">
						<a class="btn btn-danger" asp-controller="CategoryTask" asp-action="Delete" asp-route-id="@item.Id">
						Delete
					</a>
					</div>
				</div>
			
	
			
		}
		
	}
	
	</div>

