@using MvcCore.Models
@model CategoryTask

<div class="text-center bg-info">
<a class="btn btn-primary m-3" asp-controller="CategoryTask" asp-action="Index">
		BackToList
</a>
</div>
		<h3 class="text-center text-black">Add New Category</h3>		

<div class="container-fluid mt-5 bg-dark p-5 w-50">
	<form  asp-action="New" asp-controller="CategoryTask" asp-antiforgery="true" method="post">
		<div asp-validation-summary="ModelOnly" class="text-white"></div>
		<div class="mt-2 mb-2" >
			<label asp-for="category_Name" class="text-white mb-2"></label>
			<input asp-for="category_Name" class="form-control" />
		</div>	
			<input type="submit" class="btn btn-success mt-2 pt-2 pb-2 ps-5 pe-5" value="Save" />
	</form>

</div>